.footer {
  background-color: var(--backgraund1);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  @extend %container;
  display: flex;
  align-items: baseline;
  gap: 70px;
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
}

.footer__logo--accent {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.footer__logo--light {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--white-color);
}


.address__desc {
  font-style: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--white-color);
  margin-bottom: 9px;
}

.address__item:nth-last-child(2) {
  margin-bottom: 9px;
}

.address__link {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--animation);

  &:hover,
  &:focus {
    color: rgba(33, 150, 243, 0.6);
  }
}

.footer-social .footer-social__list {
  @extend %reset-list;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.footer-social__title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.footer-social__link {
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--white-color);
}
